<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.nassau.pmob.layouts" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WidthHeightActivity"
            android:label="@string/title_activity_width_height" >
        </activity>
        <activity
            android:name=".MarginPaddingActivity"
            android:label="@string/title_activity_margin_padding" >
        </activity>
        <activity
            android:name=".FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" >
        </activity>
        <activity
            android:name=".RelativeLayoutActivity"
            android:label="@string/title_activity_relative_layout" >
        </activity>
        <activity
            android:name=".LinearLayoutActivity"
            android:label="@string/title_activity_linear_layout" >
        </activity>
        <activity
            android:name=".TableLayoutActivity"
            android:label="@string/title_activity_table_layout" >
        </activity>
        <activity
            android:name=".GridLayoutActivity"
            android:label="@string/title_activity_grid_layout" >
        </activity>
        <activity
            android:name=".ScrollViewActivity"
            android:label="@string/title_activity_scroll_view" >
        </activity>
    </application>

</manifest>
